@import "tailwindcss";

body {
    overflow-x: clip;
}

.nav-hidden {
    transform: translateX(100%);
}

.service-sticky {
    top: 0px;
}

@media (min-width: 48rem) {
    .service-sticky {
        top: var(--top-desktop);
        margin-bottom: var(--mb-desktop);
    }
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}